@font-face {
    font-family: 'THS';
    src: url('../Font/TH Sarabun PSK/THSarabun.ttf') format('truetype');
}
@font-face {
    font-family: 'THSB';
    src: url('../Font/TH Sarabun PSK/THSarabun Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'RB-Regular';
    src: url('../Font/Roboto/Roboto-Regular.ttf') format('truetype');
}
body {
    font-size: 12px;
    background-color: rgb(245,245,245);
}


.login_popup {
    width: 100vw;
    height: 100vh;
}

.login_popup_in {
    width: 100%;
    height: 440px;
    position: absolute;
    top:0;
    bottom: 100px;
    left: 0;
    right: 0;
    margin: auto;
    /*background-color: rgba(0,0,0,0.5);*/
    /*background-image: url(../Image/rmutto_clear.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/
}

.login_popup_in_access {
    width: 100%;
    height: 700px;
    position: absolute;
    top:0;
    bottom: 100px;
    left: 0;
    right: 0;
    margin: auto;
}

.login_popup_in2 {
    width: 400px;
    margin: 0 auto;
}


.login_logo {
    height: 250px;
}
.login_default_textbox {
    width: 190px;
    font-family: Arial;
    font-size: 16px;
    padding: 3px 5px;
    color: #000000;
    background-color: #f8f8f8;
    border: 1px solid transparent;
    outline: none;
    border-radius: 4px;
    margin: 3px 5px;
    /*box-shadow: rgba(0,162,232,0.8) 1px 1px 10px;
    box-shadow: rgba(0,0,0,0.5) 1px 1px 5px;*/
}

.t1 {
    color: #000000;
    font-size: 23px;
}
.t2 {
    color: #000000;
    font-size: 16px;
}
.cerror {
    display: inline-block;
    margin-top: 5px;
    color: #ff0000;
}
.web-link {

}
.web-link a {
    display: inline-block;
    padding: 5px 8px;
    color: #000000;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}
.web-link a:hover {
    border-bottom: 2px solid rgb(0,162,232);
}